import("KEGGREST")
import("SummarizedExperiment")
import("dplyr")
import("magrittr")
importFrom("tibble","as_tibble","column_to_rownames")
importFrom("igraph", "V", "graph.laplacian")
importFrom("data.table", "transpose")
importFrom("methods", "is")
importFrom("stats", "binomial", "complete.cases", "dist", "formula",
                "glm", "lm", "median", "model.matrix", "pchisq", "pnorm",
                "resid", "uniroot")
export("GatherNetworks")
export("PaIRKAT")
export("plotNetworks")